p{
    background-color: blue;
    width: 500spx;
    height: 100px;
    text-align: center;

    
}
h2{
    background-color: aquamarine;
    width: 1400px;
    height: 50px;
    text-align: center;
    padding: 10px;

    
}